*{margin:0;}

article
{
	float:left;
	width: 46%;
	padding: 2%;
}
body
{
	background: #c3e5f9;
	color: white;
	font-size: 16px;
	font-family: arial;
	text-shadow:1px 1px 0 black; 
}
nav
{
	text-align: center;
	padding: 10px 0;
	background: #873698;
	width: 50%;
	margin:10px auto;
}
nav ul li
{
	display: inline-block;
	text-decoration: none;
	margin: 5px 15px;
}
nav ul
{
	margin: center;
}
section
{
	padding: 10px 0;
	background: #12a890;
	margin: 10px auto;
	width: 1024px;
	overflow: hidden;
}


.fila1
{
	background: #830f2a;
}
.fila2
{
	background: #1c4583;
}

@media screen and (max-width:1024px){
	body{
		font-size:18px;
	}
	section{
		width: 96%;
		padding: 2%;
	}
}
@media screen and (max-width:700px){
	article{
		padding: 2%;
		width: 96%;
	}
}
@media screen and (max-width:480px){
	article{
		padding: 2%;
		width: 96%
	}
	body{
		font-size:20px;
	}
	nav{
		padding-left: 0px;
		text-align: center;
		display: block;
	}
}
